[Configuration]

# The importance of the number of tags.
# If brevity is high, then the shell acts like a classic bag-of-words algorithm that just
# aims at covering the tags dictionary of the picture collection.
# If brevity is low, then pictures with many tags will count less than those that have
# fewer tags. The idea is that a picture with many tags may not be:
# - reliable (wrong tags)
# - sufficient to cover all the ideas/landmarks/things described by the tags
brevity: 1.0
