[Configuration]

# Sort of features: {'word, char_wb'}
# 'word' is word based, 'char_wb' is n-gram based for n-grams within word boundaries
analyzer=word

# Minimum term frequency provided as #occurences
min_df=3

# Maximum term frequency provided in percentage
max_df=0.8

# Use idf weighing
use_idf=1
